body {
  background: #f4f4f4;
  font-family: Helvetica, sans-serif;
}
p {
  color: #989998;
}
h3 {
  margin: 0 auto;
}

/* table */
table {
  border-collapse: collapse;
  background: #dddddd;
  width: 65vw;
  margin: 0 auto;
}
th,
td {
  text-align: left;
  padding: 10px;
  font-size: 1.3rem;
  height: 72px;
}
th {
  background-color: #30313d;
  color: white;
  border: none;
}
tr:nth-child(even) {
  background: #eeeeee;
}
button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 11px 36px;
  position: relative;
  width: 117px;
  height: 36px;
  background: #33a665;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  border-style: solid;
  border: none;
}

/* modal */
.modal {
  border-radius: 10px;
  border: 2px lightgray solid;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
}
.modal-close {
  color: #33a665;
  text-decoration: none;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.image-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 25px;
  position: relative;
}
.content-container {
  padding: 0 20px;
  align-items: center;
}
img {
  height: 25vh;
}



@media (max-width: 640px) {
  html {
    font-size: 0.6rem;
  }
}
